<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qtec.homestay">

    <!--安卓8.0打开apk安装更新-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--友盟集成-->
    <uses-sdk android:minSdkVersion="8"></uses-sdk>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!-- 允许程序开机自动运行 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- 获取网络信息状态，如当前的网络连接是否有效 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 获取当前WiFi接入的状态以及WLAN热点的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 访问电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 访问网络连接，可能产生GPRS流量 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 改变配置，允许当前应用改变配置，如定位 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <!-- 挂载文件系统，挂载、反挂载外部文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!-- 改变WiFi状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 允许振动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--  -->
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <!-- 写入外部存储，允许程序写入外部存储，如SD卡上写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 录制声音 通过手机或耳机的麦克 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- 读取系统底层日志 logcat日志保存-->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <!-- 获取任务信息，允许程序获取当前或最近运行的应用 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 显示系统窗口 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- 拍照权限，允许访问摄像头进行拍照 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 拍照权限，闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 唤醒锁定，允许程序在手机屏幕关闭后后台进程仍然运行 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 修改声音设置信息 -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!-- 拨出电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!--获取通讯录权限-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--摄像头权限-->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera2"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:name=".AndroidApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--友盟统计分析 AppKey需要填写-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b484082f29d980a4b00014b"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="UMeng"/>

        <activity
            android:name=".view.user.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:launchMode="singleTask"
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.lodge.CheckInRoomActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.lodge.CheckInSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.lodge.SelectRoomActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.lodge.LeaveHotelSuccessActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.lodge.HouseholdDetailsActivity"
            android:screenOrientation="portrait"/>
        <!--<activity-->
        <!--android:name=".view.login.register.PersonalProfileActivity"-->
        <!--android:screenOrientation="portrait"/>-->

        <!--注册-->
        <activity
            android:name=".view.user.register.RegisterGetIdCodeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.register.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.register.RegisterSmsCodeActivity"
            android:screenOrientation="portrait"/>
        <!--重置密码-->
        <activity
            android:name=".view.user.forgetpwd.ResetPwdGetIdCodeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.forgetpwd.ResetPwdSmsCodeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.forgetpwd.ResetPwdActivity"
            android:screenOrientation="portrait"/>


        <!--版本更新-->
        <service android:name="com.fruit.updatelib.DownloadService"/>

        <!--蓝牙服务-->
        <service
            android:name="com.blueflybee.blelibrary.BleService"
            android:exported="false"/>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name=".view.user.selectconfig.ServerActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.mine.MyInfoActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".view.user.mine.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.mine.VersionInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.mine.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.activity.SelectDevTypeActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.scan.activity.ScanActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".view.device.router.RouterListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.SearchLockActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.LockListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.LockActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".view.main.SearchRoomActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.router.ScanRouterInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.router.ConfigRouterActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.router.ConfigRouterWifiActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.router.RouterSetActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.AddLockActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.LockSetActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.BindRouterInfoActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.AdminPwdActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.device.lock.ModifyAdminPwdActivity"
            android:screenOrientation="portrait"/>


        <activity
            android:name=".view.device.lock.UnlockRecordsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.user.mine.ModifyPwdActivity"
            android:screenOrientation="portrait"/>

        <!--头像设置-->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme"
            />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme"/>
        <!--头像设置-->

        <activity
            android:name=".view.device.activity.MoreDeviceActivity"
            android:screenOrientation="portrait"/>

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@style/WXTheme"
            >
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
                <!--<data android:scheme="wx5739409145adb7c3"/>-->
            <!--</intent-filter>-->
        </activity>


		<activity
			android:name=".view.user.login.PerfectInfoActivity"
			android:screenOrientation="portrait"/>

   <!--   微信登录数据
   appsecret="f739dae85066980cb0f53d8049a47bfc"
        appid="wx5739409145adb7c3"-->


		<activity
			android:name=".view.lodge.ResidentDetailActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".view.lodge.ModifyResidentActivity"
			android:screenOrientation="portrait"/>

		<activity
			android:name=".view.device.activity.TopologyActivity"
			android:screenOrientation="portrait"/>
</application>

</manifest>